*
{
    margin: 0;
    padding: 0;
}

.my-button-class
{
    background-color: #505050;
    color: #fff;
    width: 100px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
}

.login_main_container
{
    position: relative;
}

.login_form_container
{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login_form_container .MuiPaper-root
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Calibri';
    padding: 10px 50px 20px 50px;
}


.login_form_container .MuiPaper-root .title_container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container_signup
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_container .title_container_text,.title_container_signup .title_container_text
{
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 2.5rem;
    margin-bottom: 0;
}

.title_container_signup .title_container_text_two
{
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 1.2rem;
}

.bottom_details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login_button_div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}


.login_button, .bottom_details button 
{
    margin-top: 30px;
    height: 30px;
    width: 120px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #505050;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s linear;
}

.login_button:hover,.bottom_details button:hover
{
    border: 1px solid #505050;
    color: #505050;
    background-color: transparent;
}

.input_feilds
{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.bottom_details p 
{
    margin-top: -10px;
    color: #807F7F;
}

.bottom_details p a 
{
    color: #FF0000;
    text-decoration: none;
    font-weight: 600;
}

.text_feild
{
    width: 100%;
}


/* ================================================== */
/* ================Signup page======================= */
/* ================================================== */

.visible_button
{
    outline: none;
    transition: 0.2s linear;
    background-color: transparent;
}

.visible_button:hover 
{
    outline: none;
    border: none;
    background: transparent;
}

