*
{
    padding: 0;
    margin: 0;
}

.region_main_container
{
    position:absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.title_container_region p 
{
    font-size: 2.6rem;
    font-weight: 500;
    font-family: 'Calibri';
}

.region_option_container 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

.paper_region
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999898;
}

.region_option_container p 
{
    font-size: 1.3rem;
    color: #414141;
    font-family: 'Calibri';
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 600;
    margin: 20px 0;
}