*
{
    padding: 0;
    margin: 0;
}

.main_user_table_container
{
    position: relative;
    margin: 0 40px;
}

.user_detail_table_div
{
    position: absolute;
    top: 100px;
    width: 100%;
}

.table_row_user_table
{
    background-color: #a1a1a1;
    color: #fff;
}

.table_cell_user_table
{
    font-size: 1rem;
    color: #fff;
}

.my-button-class
{
    background-color: #505050;
    color: #fff;
    width: 100px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
}